node_modules
build/builder-effective-config.yaml
build/__appImage-x64/.DirIcon
build/__appImage-x64/AppRun
build/__appImage-x64/light.desktop
build/__appImage-x64/light.png
build/__appImage-x64/resources/app-update.yml
build/__appImage-x64/usr/share/icons/hicolor/0x0/apps/light.png
build/icon/256×256.png
build/icon/light.png
build/linux-unpacked/chrome_100_percent.pak
build/linux-unpacked/chrome_200_percent.pak
build/linux-unpacked/chrome-sandbox
build/linux-unpacked/crashpad_handler
build/linux-unpacked/icudtl.dat
build/linux-unpacked/libEGL.so
build/linux-unpacked/libffmpeg.so
build/linux-unpacked/libGLESv2.so
build/linux-unpacked/libvk_swiftshader.so
build/linux-unpacked/LICENSE.electron.txt
build/linux-unpacked/LICENSES.chromium.html
build/linux-unpacked/light
build/linux-unpacked/resources.pak
build/linux-unpacked/snapshot_blob.bin
build/linux-unpacked/v8_context_snapshot.bin
build/linux-unpacked/vk_swiftshader_icd.json
build/linux-unpacked/locales/am.pak
build/linux-unpacked/locales/ar.pak
build/linux-unpacked/locales/bg.pak
build/linux-unpacked/locales/bn.pak
build/linux-unpacked/locales/ca.pak
build/linux-unpacked/locales/cs.pak
build/linux-unpacked/locales/da.pak
build/linux-unpacked/locales/de.pak
build/linux-unpacked/locales/el.pak
build/linux-unpacked/locales/en-GB.pak
build/linux-unpacked/locales/en-US.pak
build/linux-unpacked/locales/es-419.pak
build/linux-unpacked/locales/es.pak
build/linux-unpacked/locales/et.pak
build/linux-unpacked/locales/fa.pak
build/linux-unpacked/locales/fi.pak
build/linux-unpacked/locales/fil.pak
build/linux-unpacked/locales/fr.pak
build/linux-unpacked/locales/gu.pak
build/linux-unpacked/locales/he.pak
build/linux-unpacked/locales/hi.pak
build/linux-unpacked/locales/hr.pak
build/linux-unpacked/locales/hu.pak
build/linux-unpacked/locales/id.pak
build/linux-unpacked/locales/it.pak
build/linux-unpacked/locales/ja.pak
build/linux-unpacked/locales/kn.pak
build/linux-unpacked/locales/ko.pak
build/linux-unpacked/locales/lt.pak
build/linux-unpacked/locales/lv.pak
build/linux-unpacked/locales/ml.pak
build/linux-unpacked/locales/mr.pak
build/linux-unpacked/locales/ms.pak
build/linux-unpacked/locales/nb.pak
build/linux-unpacked/locales/nl.pak
build/linux-unpacked/locales/pl.pak
build/linux-unpacked/locales/pt-BR.pak
build/linux-unpacked/locales/pt-PT.pak
build/linux-unpacked/locales/ro.pak
build/linux-unpacked/locales/ru.pak
build/linux-unpacked/locales/sk.pak
build/linux-unpacked/locales/sl.pak
build/linux-unpacked/locales/sr.pak
build/linux-unpacked/locales/sv.pak
build/linux-unpacked/locales/sw.pak
build/linux-unpacked/locales/ta.pak
build/linux-unpacked/locales/te.pak
build/linux-unpacked/locales/th.pak
build/linux-unpacked/locales/tr.pak
build/linux-unpacked/locales/uk.pak
build/linux-unpacked/locales/vi.pak
build/linux-unpacked/locales/zh-CN.pak
build/linux-unpacked/locales/zh-TW.pak
build/linux-unpacked/resources/app.asar
build/linux-unpacked/swiftshader/libEGL.so
build/linux-unpacked/swiftshader/libGLESv2.so
build/win-unpacked/chrome_100_percent.pak
build/win-unpacked/chrome_200_percent.pak
build/win-unpacked/d3dcompiler_47.dll
build/win-unpacked/ffmpeg.dll
build/win-unpacked/icudtl.dat
build/win-unpacked/libEGL.dll
build/win-unpacked/libGLESv2.dll
build/win-unpacked/LICENSE.electron.txt
build/win-unpacked/LICENSES.chromium.html
build/win-unpacked/light.exe
build/win-unpacked/resources.pak
build/win-unpacked/snapshot_blob.bin
build/win-unpacked/v8_context_snapshot.bin
build/win-unpacked/vk_swiftshader_icd.json
build/win-unpacked/vk_swiftshader.dll
build/win-unpacked/locales/am.pak
build/win-unpacked/locales/ar.pak
build/win-unpacked/locales/bg.pak
build/win-unpacked/locales/bn.pak
build/win-unpacked/locales/ca.pak
build/win-unpacked/locales/cs.pak
build/win-unpacked/locales/da.pak
build/win-unpacked/locales/de.pak
build/win-unpacked/locales/el.pak
build/win-unpacked/locales/en-GB.pak
build/win-unpacked/locales/en-US.pak
build/win-unpacked/locales/es-419.pak
build/win-unpacked/locales/es.pak
build/win-unpacked/locales/et.pak
build/win-unpacked/locales/fa.pak
build/win-unpacked/locales/fi.pak
build/win-unpacked/locales/fil.pak
build/win-unpacked/locales/fr.pak
build/win-unpacked/locales/gu.pak
build/win-unpacked/locales/he.pak
build/win-unpacked/locales/hi.pak
build/win-unpacked/locales/hr.pak
build/win-unpacked/locales/hu.pak
build/win-unpacked/locales/id.pak
build/win-unpacked/locales/it.pak
build/win-unpacked/locales/ja.pak
build/win-unpacked/locales/kn.pak
build/win-unpacked/locales/ko.pak
build/win-unpacked/locales/lt.pak
build/win-unpacked/locales/lv.pak
build/win-unpacked/locales/ml.pak
build/win-unpacked/locales/mr.pak
build/win-unpacked/locales/ms.pak
build/win-unpacked/locales/nb.pak
build/win-unpacked/locales/nl.pak
build/win-unpacked/locales/pl.pak
build/win-unpacked/locales/pt-BR.pak
build/win-unpacked/locales/pt-PT.pak
build/win-unpacked/locales/ro.pak
build/win-unpacked/locales/ru.pak
build/win-unpacked/locales/sk.pak
build/win-unpacked/locales/sl.pak
build/win-unpacked/locales/sr.pak
build/win-unpacked/locales/sv.pak
build/win-unpacked/locales/sw.pak
build/win-unpacked/locales/ta.pak
build/win-unpacked/locales/te.pak
build/win-unpacked/locales/th.pak
build/win-unpacked/locales/tr.pak
build/win-unpacked/locales/uk.pak
build/win-unpacked/locales/vi.pak
build/win-unpacked/locales/zh-CN.pak
build/win-unpacked/locales/zh-TW.pak
build/win-unpacked/resources/app-update.yml
build/win-unpacked/resources/app.asar
build/win-unpacked/swiftshader/libEGL.dll
build/win-unpacked/swiftshader/libGLESv2.dll
packBuild/light-linux-x64/chrome_100_percent.pak
packBuild/light-linux-x64/chrome_200_percent.pak
packBuild/light-linux-x64/chrome-sandbox
packBuild/light-linux-x64/crashpad_handler
packBuild/light-linux-x64/icudtl.dat
packBuild/light-linux-x64/libEGL.so
packBuild/light-linux-x64/libffmpeg.so
packBuild/light-linux-x64/libGLESv2.so
packBuild/light-linux-x64/libvk_swiftshader.so
packBuild/light-linux-x64/LICENSE
packBuild/light-linux-x64/LICENSES.chromium.html
packBuild/light-linux-x64/light
packBuild/light-linux-x64/resources.pak
packBuild/light-linux-x64/snapshot_blob.bin
packBuild/light-linux-x64/v8_context_snapshot.bin
packBuild/light-linux-x64/version
packBuild/light-linux-x64/vk_swiftshader_icd.json
packBuild/light-linux-x64/locales/am.pak
packBuild/light-linux-x64/locales/ar.pak
packBuild/light-linux-x64/locales/bg.pak
packBuild/light-linux-x64/locales/bn.pak
packBuild/light-linux-x64/locales/ca.pak
packBuild/light-linux-x64/locales/cs.pak
packBuild/light-linux-x64/locales/da.pak
packBuild/light-linux-x64/locales/de.pak
packBuild/light-linux-x64/locales/el.pak
packBuild/light-linux-x64/locales/en-GB.pak
packBuild/light-linux-x64/locales/en-US.pak
packBuild/light-linux-x64/locales/es-419.pak
packBuild/light-linux-x64/locales/es.pak
packBuild/light-linux-x64/locales/et.pak
packBuild/light-linux-x64/locales/fa.pak
packBuild/light-linux-x64/locales/fi.pak
packBuild/light-linux-x64/locales/fil.pak
packBuild/light-linux-x64/locales/fr.pak
packBuild/light-linux-x64/locales/gu.pak
packBuild/light-linux-x64/locales/he.pak
packBuild/light-linux-x64/locales/hi.pak
packBuild/light-linux-x64/locales/hr.pak
packBuild/light-linux-x64/locales/hu.pak
packBuild/light-linux-x64/locales/id.pak
packBuild/light-linux-x64/locales/it.pak
packBuild/light-linux-x64/locales/ja.pak
packBuild/light-linux-x64/locales/kn.pak
packBuild/light-linux-x64/locales/ko.pak
packBuild/light-linux-x64/locales/lt.pak
packBuild/light-linux-x64/locales/lv.pak
packBuild/light-linux-x64/locales/ml.pak
packBuild/light-linux-x64/locales/mr.pak
packBuild/light-linux-x64/locales/ms.pak
packBuild/light-linux-x64/locales/nb.pak
packBuild/light-linux-x64/locales/nl.pak
packBuild/light-linux-x64/locales/pl.pak
packBuild/light-linux-x64/locales/pt-BR.pak
packBuild/light-linux-x64/locales/pt-PT.pak
packBuild/light-linux-x64/locales/ro.pak
packBuild/light-linux-x64/locales/ru.pak
packBuild/light-linux-x64/locales/sk.pak
packBuild/light-linux-x64/locales/sl.pak
packBuild/light-linux-x64/locales/sr.pak
packBuild/light-linux-x64/locales/sv.pak
packBuild/light-linux-x64/locales/sw.pak
packBuild/light-linux-x64/locales/ta.pak
packBuild/light-linux-x64/locales/te.pak
packBuild/light-linux-x64/locales/th.pak
packBuild/light-linux-x64/locales/tr.pak
packBuild/light-linux-x64/locales/uk.pak
packBuild/light-linux-x64/locales/vi.pak
packBuild/light-linux-x64/locales/zh-CN.pak
packBuild/light-linux-x64/locales/zh-TW.pak
packBuild/light-linux-x64/resources/app/config.js
packBuild/light-linux-x64/resources/app/main.js
packBuild/light-linux-x64/resources/app/package-lock.json
packBuild/light-linux-x64/resources/app/package.json
packBuild/light-linux-x64/resources/app/yarn.lock
packBuild/light-linux-x64/resources/app/static/about.html
packBuild/light-linux-x64/resources/app/static/index.html
packBuild/light-linux-x64/resources/app/static/css/about.css
packBuild/light-linux-x64/resources/app/static/css/index.css
packBuild/light-linux-x64/resources/app/static/images/light.ico
packBuild/light-linux-x64/resources/app/static/js/light.js
packBuild/light-linux-x64/resources/app/static/js/main.js
packBuild/light-linux-x64/swiftshader/libEGL.so
packBuild/light-linux-x64/swiftshader/libGLESv2.so
packBuild/light-win32-x64/chrome_100_percent.pak
packBuild/light-win32-x64/chrome_200_percent.pak
packBuild/light-win32-x64/d3dcompiler_47.dll
packBuild/light-win32-x64/ffmpeg.dll
packBuild/light-win32-x64/icudtl.dat
packBuild/light-win32-x64/libEGL.dll
packBuild/light-win32-x64/libGLESv2.dll
packBuild/light-win32-x64/LICENSE
packBuild/light-win32-x64/LICENSES.chromium.html
packBuild/light-win32-x64/light.exe
packBuild/light-win32-x64/resources.pak
packBuild/light-win32-x64/snapshot_blob.bin
packBuild/light-win32-x64/v8_context_snapshot.bin
packBuild/light-win32-x64/version
packBuild/light-win32-x64/vk_swiftshader_icd.json
packBuild/light-win32-x64/vk_swiftshader.dll
packBuild/light-win32-x64/locales/am.pak
packBuild/light-win32-x64/locales/ar.pak
packBuild/light-win32-x64/locales/bg.pak
packBuild/light-win32-x64/locales/bn.pak
packBuild/light-win32-x64/locales/ca.pak
packBuild/light-win32-x64/locales/cs.pak
packBuild/light-win32-x64/locales/da.pak
packBuild/light-win32-x64/locales/de.pak
packBuild/light-win32-x64/locales/el.pak
packBuild/light-win32-x64/locales/en-GB.pak
packBuild/light-win32-x64/locales/en-US.pak
packBuild/light-win32-x64/locales/es-419.pak
packBuild/light-win32-x64/locales/es.pak
packBuild/light-win32-x64/locales/et.pak
packBuild/light-win32-x64/locales/fa.pak
packBuild/light-win32-x64/locales/fi.pak
packBuild/light-win32-x64/locales/fil.pak
packBuild/light-win32-x64/locales/fr.pak
packBuild/light-win32-x64/locales/gu.pak
packBuild/light-win32-x64/locales/he.pak
packBuild/light-win32-x64/locales/hi.pak
packBuild/light-win32-x64/locales/hr.pak
packBuild/light-win32-x64/locales/hu.pak
packBuild/light-win32-x64/locales/id.pak
packBuild/light-win32-x64/locales/it.pak
packBuild/light-win32-x64/locales/ja.pak
packBuild/light-win32-x64/locales/kn.pak
packBuild/light-win32-x64/locales/ko.pak
packBuild/light-win32-x64/locales/lt.pak
packBuild/light-win32-x64/locales/lv.pak
packBuild/light-win32-x64/locales/ml.pak
packBuild/light-win32-x64/locales/mr.pak
packBuild/light-win32-x64/locales/ms.pak
packBuild/light-win32-x64/locales/nb.pak
packBuild/light-win32-x64/locales/nl.pak
packBuild/light-win32-x64/locales/pl.pak
packBuild/light-win32-x64/locales/pt-BR.pak
packBuild/light-win32-x64/locales/pt-PT.pak
packBuild/light-win32-x64/locales/ro.pak
packBuild/light-win32-x64/locales/ru.pak
packBuild/light-win32-x64/locales/sk.pak
packBuild/light-win32-x64/locales/sl.pak
packBuild/light-win32-x64/locales/sr.pak
packBuild/light-win32-x64/locales/sv.pak
packBuild/light-win32-x64/locales/sw.pak
packBuild/light-win32-x64/locales/ta.pak
packBuild/light-win32-x64/locales/te.pak
packBuild/light-win32-x64/locales/th.pak
packBuild/light-win32-x64/locales/tr.pak
packBuild/light-win32-x64/locales/uk.pak
packBuild/light-win32-x64/locales/vi.pak
packBuild/light-win32-x64/locales/zh-CN.pak
packBuild/light-win32-x64/locales/zh-TW.pak
packBuild/light-win32-x64/resources/app/config.js
packBuild/light-win32-x64/resources/app/main.js
packBuild/light-win32-x64/resources/app/package-lock.json
packBuild/light-win32-x64/resources/app/package.json
packBuild/light-win32-x64/resources/app/yarn.lock
packBuild/light-win32-x64/resources/app/static/about.html
packBuild/light-win32-x64/resources/app/static/index.html
packBuild/light-win32-x64/resources/app/static/css/about.css
packBuild/light-win32-x64/resources/app/static/css/index.css
packBuild/light-win32-x64/resources/app/static/images/light.ico
packBuild/light-win32-x64/resources/app/static/js/light.js
packBuild/light-win32-x64/resources/app/static/js/main.js
packBuild/light-win32-x64/swiftshader/libEGL.dll
packBuild/light-win32-x64/swiftshader/libGLESv2.dll
